<%- include('includes/head'); %>

     <header class="cabecalho">
        <%- include('includes/nav'); %>
     </header>

     <section class="content__login">
        <form action="/login/create" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <input type="text" name="email" placeholder="email">
            <input type="text" name="password" placeholder="senha">
            <button type="submit">enviar</button>
        </form>
     </section>

     <section class="content__login">
        <form action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <input type="text" name="email" placeholder="email">
            <input type="text" name="password" placeholder="senha">
            <button type="submit">enviar</button>
        </form>
     </section>

   

   <%- include('includes/footer'); %>
    
